.header{
    
}
.header .logo{
    height: 80px;
}
.nav{
    margin-left: 20px;
}
.nav li{
    display: inline;
    margin-left: 100px;
  }
  
  .nav a{
    text-decoration: none;
    color: rgba(5, 12, 107, 0.877);
    font-weight: bold;
  }